
        html {scroll-behavior: smooth;}
        body {
        font-family: "Quicksand", sans-serif;
        background-image: url("assets/bg.jpg");
        }

        .logo {
            width: 3rem;
            border-radius: 100%;
        }
        .navbar {
            margin-left: 5%;
            margin-right: 5%;
            padding: 0.5%;
            margin-bottom: 3%;
            margin-top: 0;
            background-color: rgba(255, 255, 255, 0.400);
            border-radius: 1rem;
            box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 5%;
        }

        .links {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .links li {
            margin-left: 20px;
        }
        .links img {
            width: 2rem;
        }

        .box {
            margin-left: 5%;
            margin-right: 5%;
            padding: 0.5%;
            margin-bottom: 3%;
            margin-top: 3%;
            background-color: rgba(255, 255, 255, 0.400);
            border-radius: 1rem;
            box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.1);
        }
        .box h2, .box p {
            margin-left: 2%;
        }

        .mini-box{
            margin-left: 2%;
            margin-bottom: 2%;
            display: flex;
            align-items: center
        }
        .mini-box img{
            width: 4rem;
            margin-right: 1%;
        }

        .social-link{
            color: rgb(28, 36, 145);
        }
        @media screen and (max-width: 768px) {
            .links {
                display: none;
            }
        }